.main {
    color: #4c4c4c;
    padding-top: 1.5rem;
    font-family: Helvetica Neue, Helvetica, Segoe UI, DejaVu Sans, Arial, PingFang SC, Hiragino Sans GB, Source Han Sans, Microsoft Yahei, Heiti SC, sans-serif;
}

.esanimation {
    max-width: 1400px;
    margin: 0 auto;
}

.navbar-item, .navbar-link {
    font-weight: 600;
    font-size: 0.9rem;
    color: #4c4c4c;
}

.navbar-item img {
    max-height: 3rem;
}

.navbar-burger {
    height: 3.5rem;
}

.hero-headline {
    font-size: 2.5rem;
    font-weight: 500;
}

.hero-subtitle {
    max-width: 45rem;
    padding-top: 2.2rem;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.25rem;
    color: #4c4c4c;
    line-height: 2.375rem;
}

.hero-btn {
    font-size: 1rem;
}

.hero-btn .btn-blue {
    display: block;
    width: 12rem;
    color: #fff;
    background: #42A5F5;
    font-weight: 700;
    margin: 3.125rem auto 0 auto;
    padding: .8rem 1rem;
    border-radius: 2px;
}

.wrap-animate {
    max-width: 1400px;
}

.introduction .subtitle {
    padding-top: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    text-align: left;
}

.icons {
    padding-top: 3rem;
}

.icons-desc {
    font-weight: 600;
    padding-top: .5rem;
}

.code-block {
    padding-top: 3rem;
}

.code-introduction {
    padding-top: 1rem;
}

.code-introduction h2 {
    font-weight: 700;
    font-size: 2rem;
}

.code-introduction-desc {
    font-weight: 500;
    padding-top: 1rem;
}

.code-box {
    width: auto;
    min-height: 310px;
    background-color: #FFF;
    margin: 0 auto;
    border: 1px solid silver;
    border-top: 2.5rem solid #dfe8ef;
    border-radius: 5px;
    padding: 10px;
}

.code-area {
    display: inline-block;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.features .column {
    display: inline-block;
    width: 25%;
}

.code-area {
    max-width: 100%;
}

.code-area pre {
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
}

@media (max-width: 800px) {
    .features .column {
        width: 50%;
    }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.partner{
    margin-top:60px;
    margin-bottom:50px;
}
.partner-title{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
.partner-box{
    width: 100%;
    max-width: 1366px;
    text-align: center;
    margin: 0 auto;
}
.partner-one{
    position: relative;
    width: 23%;
    padding: 55px 0;
    float: left;
    max-height: 178px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin: 1%;
}
.partner-one img{
    width: 30px;
    padding-bottom: 5px;
    border-radius: 100%;
}
.partner-one .partner-name{
    font-size: 18px;
    margin: 10px auto 0;
    color: #4c4c4c;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width:100px) and (max-width:540px){
    .partner-box{
        width: 328px;
    }
    .partner-one{
        width: 100%;
        margin: 0%;
        margin-bottom: 21px;
    }
}
@media screen and (max-width:960px){
/*@media screen and (min-width:540px) and (max-width:960px){*/
    .partner-box{
        width: 540px;
    }
    .partner-one{
        width: 48%;
        margin: 1%;
        margin-bottom: 21px;
    }
}
@media screen and (min-width:960px) and (max-width:1200px){
    .partner-box{
       width: 920px;
    }
    .partner-one{
        width: 288px;
    }
}
.detail-card{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 148px;
    bottom: 0;
    padding: 5px 20px;
    max-width: 100%!important;
    background: #5d9cfd;
    border-radius: 4px;
    text-align: left;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.detail-card h4{
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}
.detail-card p{
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin: 5px 0 0 0;
    height: 93px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
.partner-one:hover .detail-card{
    visibility: visible;
    top: 0px;
    opacity: 1;
}
.clear{
    clear: both;
}
@media screen and (max-width: 600px){
    .partner-box{
        width: 100%;
    }
    .partner-one{
        width: 84%;
        margin: 0px 8%;
        margin-bottom: 6%;
    }
    .partner-one:hover .detail-card{
        visibility: hidden;
        opacity: 0;
    }
    .hero-headline{
        font-size: 1.3rem;
    }
    .hero-btn .btn-blue{
        width: 6rem;
        font-weight: 500;
        margin: 1rem auto 0.8rem auto;
        padding: .4rem .8rem;
        border-radius: 4px;
        font-size: 1rem;
    }
    .partner-title{
        margin-bottom: 0px;
    }
    .main{
        padding-top: 0.8rem;
    }
    .esanimation{

    }
}
