.main {
    color: #4c4c4c;
    padding-top: 1.5rem;
    font-family: Helvetica Neue, Helvetica, Segoe UI, DejaVu Sans, Arial, PingFang SC, Hiragino Sans GB, Source Han Sans, Microsoft Yahei, Heiti SC, sans-serif;
}

.esanimation {
    max-width: 1400px;
    margin: 0 auto;
}

.navbar-item, .navbar-link {
    font-weight: 600;
    font-size: 0.9rem;
    color: #4c4c4c;
}

.navbar-item img {
    max-height: 3rem;
}

.navbar-burger {
    height: 3.5rem;
}

.hero-headline {
    font-size: 2.5rem;
    font-weight: 500;
}

.hero-subtitle {
    max-width: 45rem;
    padding-top: 2.2rem;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.25rem;
    color: #4c4c4c;
    line-height: 2.375rem;
}

.hero-btn {
    font-size: 1rem;
}

.hero-btn .btn-blue {
    display: block;
    width: 12rem;
    color: #fff;
    background: #42A5F5;
    font-weight: 700;
    margin: 3.125rem auto 0 auto;
    padding: .8rem 1rem;
    border-radius: 2px;
}

.wrap-animate {
    max-width: 1400px;
}

.introduction .subtitle {
    padding-top: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    text-align: left;
}

.icons {
    padding-top: 3rem;
}

.icons-desc {
    font-weight: 600;
    padding-top: .5rem;
}

.code-block {
    padding-top: 3rem;
}

.code-introduction {
    padding-top: 1rem;
}

.code-introduction h2 {
    font-weight: 700;
    font-size: 2rem;
}

.code-introduction-desc {
    font-weight: 500;
    padding-top: 1rem;
}

.code-box {
    width: auto;
    min-height: 310px;
    background-color: #FFF;
    margin: 0 auto;
    border: 1px solid silver;
    border-top: 2.5rem solid #dfe8ef;
    border-radius: 5px;
    padding: 10px;
}

.code-area {
    display: inline-block;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.features .column {
    display: inline-block;
    width: 25%;
}

.code-area {
    max-width: 100%;
}

.code-area pre {
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
}

@media (max-width: 800px) {
    .features .column {
        width: 50%;
    }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.partner{
    margin-top:60px;
    margin-bottom:50px;
}
.partner-title{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
.partner-box{
    width: 100%;
    max-width: 1366px;
    text-align: center;
    margin: 0 auto;
}
.partner-one{
    width:25%;
    padding: 50px 0;
    float:left;
    max-height: 150px;
}
.partner-one img{
    width: 30px;
    padding-bottom: 5px;
    border-radius: 100%;
}
.partner-one div{
    font-size: 18px;
    margin: 10px auto 0;
    color: #4c4c4c;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.partner-one:nth-child(even){
    background: #F7F7F7;
}
.partner-box-singular .partner-one:nth-child(odd){
    background: #F7F7F7;
}
.partner-box-singular .partner-one:nth-child(even){
    background: #fff;
}
.partner-box .partner-one:hover{
    background: rgba(6, 164, 255, 0.3);
}

@media all and (max-width: 960px) {
    .partner-one{
        width:50%;
        padding: 30px 0;
    }
    .partner-one:nth-child(even){
        background: #fff;
    }
    .partner-one:nth-child(2){background: #F7F7F7;}
    .partner-one:nth-child(3){background: #F7F7F7;}

    .partner-box-singular .partner-one:nth-child(odd){background: #fff;}
    .partner-box-singular .partner-one:nth-child(even){background: #fff;}
    .partner-box-singular .partner-one:nth-child(2){background: #F7F7F7;}
    .partner-box-singular .partner-one:nth-child(3){background: #F7F7F7;}
}
.clear{
    clear: both;
}