blockquote {
    background: #f8f8f8;
    margin: 0 0 10px 0;
    padding: 10px 10px 1px 10px;
}

pre[class*="language-"] {
    background-color: #fbfbfb;
}
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: 1px solid #dddddd;
    background-color: white;
}
h1 {
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
    color: #2674BA;
}

h2,h3,h4,h5{
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    color: #0099CC;
}

code {
    margin: 0 2px;
    padding: 3px 2px;
    border-radius: 2px;
    background-color: #f8f8f8;
    color: #364149;
    white-space: nowrap;
    font-family: Roboto Mono,Monaco,courier,monospace;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
    font-size: .85em;
}